<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 75%;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #107dbd;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #107dbd;
            color: white;
        }

        .button {
            font-size: 1rem;
            background-color: #084692;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            margin: 20px 0;
        }

        .button:hover {
            background-color: #033b66;
        }

        .action-buttons {
            text-align: center;
        }

        .delete-button {
            background-color: red;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .delete-button:hover {
            background-color: darkred;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Usuários Cadastrados</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome de Usuário</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% usuarios.forEach(usuario => { %>
                    <tr>
                        <td><%= usuario.username %></td>
                        <td><%= usuario.telefone %></td>
                        <td class="action-buttons">
                            <form action="/deletar-usuario/<%= usuario.id %>" method="POST" style="display: inline;">
                                <button type="submit" class="delete-button">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <!-- Botão para voltar para a Dashboard -->
        <div style="text-align: center;">
            <a href="/admin" class="button">Voltar para a Dashboard</a>
        </div>
    </div>
</body>
</html>
